.header{
    background-image: url("https://images.unsplash.com/photo-1473181488821-2d23949a045a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
    width:100%;
    height:600px;
    
}
#navigations{text-align: top;
    color: #b8bdbd;
    text-transform: uppercase;
    font-size:25px;
    

}
.heading{
    text-align:center;
    color: #ebf0f0; 
    padding-top:200px;
    padding-left: 70px; 
}
.heading>p{ font-size: 32px;

}

nav{
    padding-top:0;
    margin-left:0;
    position: static;
    top:0;
    color: #b8bdbd; 
}
   nav>ul{
    text-align:left;
  }
 nav>ul>li{
    display:inline-block;
  }
  nav>ul>li>a {
  padding:6px;
  margin-right: 0;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color:white;
  }
  .about{
      text-align: center;
  }
  /*nav>ul>li>a:hover {
  
  background:pink;
  color:black;
  }*/
  .image>img{
      border-radius: 50%;
      width:240px;
      height: 250px;
  }
  .me{
      border-bottom: solid black;
  }
    
  .onme{
      text-align: center;
      padding-left: 200px;
      padding-right: 200px;
  }
  .list{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      text-decoration: none;
      margin:0;
  }
  .pro>h1{
      text-align: center;
  }
  pro{
      border-bottom: solid black;
  }
  .form{
    border:solid white;
     width:1000px;
     margin-left:200px;
     background-color:#DCDCDC;
     align-items:center;
     justify-content:space-around; 
     color:black;
   }
   .input,.draft,.submit,.email{
    width: 100%; 
   padding: 12px;  
   border: 1px solid #ccc; 
   border-radius: 4px; 
   box-sizing: border-box; 
   margin-top: 6px; 
   margin-bottom: 16px; 
   resize: vertical 
 }
 h1{
    text-align: center;
}
 

  footer{
    padding:25px;
    top:0;
    background-color:#D3D3D3;
    border: 5px;
    text-align:center;
    font-size:15px;
   }